<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll Simulator</title>
</head>
<body>
<div>
    <center>
        <div>
            
    <h1>Poll Simulator </h1>    
    </div>
    
        <ul>
          <h3>
            <a href="/addCandidates" style="text-decoration: none;">Add Candidate</a>
          </h3>
          <h3>
            <a href="/vote" style="text-decoration: none;">Vote</a>
          </h3>
          <h3>
            <a href="/votingsummary" style="text-decoration: none;">Poll Result</a>
          </h3>
          <h3>
            <a href="/pollresult" style="text-decoration: none;">Voting Summary</a>
          </h3>
        </ul>
     
      </center>
  </div>
  </body>
  </html>